#pogrubienie_Neprozvannyi {
    font-size: 35px;
    color: #8e5ece;
}
#pochylona_ Neprozvannyi{
    font-size: 30pt;
    color: #f7c26a;
}
#index_gorny_Neprozvannyi {
    font-size: 1.5cm;
    color: #3ef4e2;
}
#index_dolny_Neprozvannyi {
    font-size: 2.5cm;
    color: #381cd6;
}
#mono_Neprozvannyi {
    font-size: 45px;
    color: #22e06a;
}
#powiekszenie_Neprozvannyi {
    color: #5c409c;
}
#pomniejszenie_Neprozvannyi {
    color: hsl(48, 55%, 49%);
}
/*<!-- Dmytro Neprozvannyi 01.06.2022 -->