p{
    font-size: 20px;
    color: red;
}

#gruby_Neprozvannyi{
    font-size: 17pt;
    font-weight: bold;
    color: green;
}
#dlaWszystkich {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
/* Dmytro Neprzovannyi 01.06.2022 